.box-activities {
  width: 100%;
  height: 100%;
  padding-top: 67px;
  position: relative;

  .wrap-activities {
    width: 100%;
    height: 100%;
    position: relative;

    .activities-app {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 11;

      .activities-slider-first {
        width: 100%;
        height: 100%;

        .carousel {
          width: 100%;
          height: 100%;
          position: static;

          .carousel-inner {
            width: 82%;
            height: 100%;

            .carousel-item {
              width: 100%;
              height: 100%;

              .activities-item {
                width: 100%;
                height: 100%;
                @include flex(row, nowrap, center, center);

                .box-image-item {
                  position: relative;

                  .image-item-background {
                    img {
                      width: 100%;
                      height: auto;
                    }
                  }

                  .image-item {
                    position: absolute;
                    top: -20%;
                    right: 16px;

                    img {
                      width: 100%;
                      height: auto;
                    }
                  }
                }


                .image-app {
                  text-align: center;
                  margin-bottom: 25px;

                  .side-image-app {
                    position: relative;
                    padding: 8px;
                    display: inline-block;

                    img {
                      width: 100%;
                      height: auto;
                      max-width: 120px;
                    }

                    &::after {
                      content: '';
                      width: 30%;
                      height: 30%;
                      background-color: transparent;
                      border-left: 4px solid #fff;
                      border-bottom: 4px solid #fff;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      z-index: 12;
                    }

                    &::before {
                      content: '';
                      width: 30%;
                      height: 30%;
                      background-color: transparent;
                      border-right: 4px solid #fff;
                      border-bottom: 4px solid #fff;
                      position: absolute;
                      bottom: 0;
                      right: 0;
                      z-index: 12;
                    }
                  }


                }

                .title {
                  text-align: center;
                  font-family: IRANSans;
                  @include font-source-sans(1.7rem, #fff, 500, 2.3rem);
                  margin-bottom: 25px;
                  @include media-max($L) {
                    @include font-source-sans(1.4rem, #fff, 500, 2rem);
                  }
                }

                .caption {
                  text-align: justify;
                  @include font-source-sans(1rem, #fff, 500, 1.7rem);
                }

                .activities-buttons {
                  @include flex(row, nowrap, center, center);
                  margin-bottom: 30px;

                  .activities-btn {
                    background-color: #988db5;
                    padding: 10px 25px;
                    border: 1px solid #fff;
                    color: #fff;
                    margin: 5px 10px;
                    min-width: 120px;
                    @include radius(30px);
                  }
                }
              }

            }
          }

          .square-number {
            position: absolute;
            left: 0;
            top: 10%;
            width: 80px;
            height: 80px;
            background-color: #0c5460;
            @include radius(20px);
            @include transform(rotate(45deg));
          }

          .carousel-indicators {
            height: 100%;
            margin: 0;
            @include flex(column, nowrap, center, center);

            li {
              @include transition(all .3s);
              opacity: 1;
              border-right: 4px solid #aeaeae;
              border-bottom: 0px solid #aeaeae;
              border-top: 0px solid #aeaeae;
              height: 60px;
              @include flex(column, nowrap, center, center);
              background-color: transparent;
            }

            li.active {
              border-right: 4px solid $color-dark-blue;
            }
          }
        }
      }
    }

    .activities-app.hidden {
      display: none;
    }

    .activities-property {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 11;
      text-align: center;
      padding: 5px;
      @include flex(column, nowrap, center, center);

      .head-property {
        @include animation (.2s, .70s);

        .image-property {
          .side-image-property {
            position: relative;
            padding: 6px;
            display: inline-block;

            img {
              width: 100%;
              height: auto;
              max-width: 100px;
            }

            &::after {
              content: '';
              width: 30%;
              height: 30%;
              background-color: transparent;
              border-left: 3px solid #fff;
              border-bottom: 3px solid #fff;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 12;
            }

            &::before {
              content: '';
              width: 30%;
              height: 30%;
              background-color: transparent;
              border-right: 3px solid #fff;
              border-bottom: 3px solid #fff;
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 12;
            }
          }

        }

        .title {
          text-align: center;
          font-family: IRANSans;
          @include font-source-sans(1.7rem, #fff, 500, 2.3rem);
          margin: 15px 0;
          @include media-max($L) {
            @include font-source-sans(1.4rem, #fff, 500, 2rem);
          }
        }

        .installation {
          @include font-source-sans(.9rem, #ff95cf, 500, 1.5rem);
          margin-bottom: 40px;
        }
      }

      .box-pack-property {
        @include flex(column, nowrap, center, space-between);

        .pack-property {
          @include flex(row, nowrap, center, center);
          margin-bottom: 30px;

          .text-property {
            width: 310px;
            padding: 0 10px;

            .title {
              @include font-source-sans(1rem, #fff, 500, 1.8rem);
            }

            .explain {
              font-family: IRANSans_light;
              @include font-source-sans(.8rem, #dddfe6, 300, 1.7rem);
            }
          }

          .icon-body-property {
            background-color: #60bffc;
            border: 2px solid #fff;
            @include radius(50%);
            padding: 20px;
            margin: 5px;

            img {
              max-width: 40px;
              width: 100%;
              height: auto;
            }
          }

          &:nth-child(1) {
            @include animation (.7s, .7s);
          }

          &:nth-child(2) {
            @include animation (.8s, .7s);
          }

          &:nth-child(3) {
            @include animation (.9s, .7s);
          }

          &:nth-child(4) {
            @include animation (1s, .7s);
          }
        }

      }

      .image-body-property {
        @include animation (.7s, 1s);
        padding: 50px 17% 0;

        .box-image-item {
          position: relative;

          .image-item-background {
            img {
              width: 100%;
              height: auto;
            }
          }

          .image-item {
            position: absolute;
            top: -20%;
            right: 9px;


            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      .wrap-back-button {
        position: absolute;
        top: 80px;
        left: 80px;

        .back-button {
          width: 50px;
          height: 50px;
          background-color: #ffffff40;
          color: #fff;
          @include radius(50%);
        }
      }
    }

    .activities-property.hidden {
      display: none;
    }

    .activities-gallery {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 11;
      text-align: center;
      padding: 10px;
      @include flex(column, nowrap, center, center);

      .head-gallery {
        @include animation (.2s, .70s);

        .image-gallery {
          .side-image-gallery {
            position: relative;
            padding: 6px;
            display: inline-block;

            img {
              width: 100%;
              height: auto;
              max-width: 100px;
            }

            &::after {
              content: '';
              width: 30%;
              height: 30%;
              background-color: transparent;
              border-left: 3px solid #fff;
              border-bottom: 3px solid #fff;
              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 12;
            }

            &::before {
              content: '';
              width: 30%;
              height: 30%;
              background-color: transparent;
              border-right: 3px solid #fff;
              border-bottom: 3px solid #fff;
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 12;
            }
          }
        }

        .title {
          text-align: center;
          font-family: IRANSans;
          @include font-source-sans(1.7rem, #fff, 500, 2.3rem);
          margin: 15px 0;
          @include media-max($L) {
            @include font-source-sans(1.4rem, #fff, 500, 2rem);
          }
        }

        .installation {
          @include font-source-sans(.9rem, #ff95cf, 500, 1.5rem);
          margin-bottom: 40px;
        }
      }

      .owl-carousel {
        .item {
          background-color: transparent;
          animation-duration: 1s !important;

          .owl-image {
            width: 100%;
            text-align: center;
            @include flex(column, nowrap, center, center);
            padding: 10%;
            @include transition(padding .3s);
            min-height: 365px;
            img {
              text-align: center;
              width: 100%;
              height: auto;
              max-width: 250px;
            }
          }

          .owl-box-text {
            .owl-text {
              margin: 0;
            }
          }
        }

        .owl-item {
          background-color: transparent;
          @include transition(padding .3s);
        }

        .owl-item.center {
          background: transparent url("../img/eslimi.svg") no-repeat center center;
          background-size: contain;
          @include transition(padding .3s);
          .owl-image {
            width: 100%;
            text-align: center;
            @include flex(column, nowrap, center, center);
            padding: 0%;
            img {
              text-align: center;
              width: 100%;
              height: auto;
              max-width: 250px;

            }
          }
        }
      }

      .wrap-back-button {
        position: absolute;
        top: 80px;
        left: 80px;

        .back-button {
          width: 50px;
          height: 50px;
          background-color: #ffffff40;
          color: #fff;
          @include radius(50%);
        }
      }
    }

    .activities-gallery.hidden {
      display: none;
    }

    .background-activities {
      text-align: left;
      direction: ltr;
      position: absolute;
      width: 96%;
      height: 96%;
      bottom: 2%;
      left: 7%;
      z-index: 2;
      @include transition(all .7s);
      background-color: $color-dark-blue;
      @include gradient(horizontal, $color-dark-blue, #404D8C);
      @include radius(100px);
      @include transform(rotate(2deg));
    }

    .background-activities.click-item {
      left: 2%;
      @include transform(rotate(1deg));

    }

    .background-border-activities {
      text-align: left;
      direction: ltr;
      position: absolute;
      width: 98%;
      height: 95%;
      bottom: 2%;
      left: 6%;
      z-index: 1;
      @include transition(all .7s);
      background-color: transparent;
      border: 2px solid #dedfe4;
      @include radius(100px);
      @include transform(rotate(-3deg));
    }

    .background-border-activities.click-item-border {
      left: 2%;
      @include transform(rotate(-4deg));
    }


  }

  .activities-Square {
    position: absolute;
    bottom: 56%;
    left: 9%;
    width: 0;
    height: 0;
    border-left: 60px solid rgba(241, 198, 261, .5);
    border-bottom: 60px solid transparent;
    @include transform(rotate(200deg));
  }

  .activities-Square2 {
    position: absolute;
    bottom: 59%;
    left: 9%;
    width: 0;
    height: 0;
    border-left: 35px solid rgba(199, 213, 241, 0.5);
    border-bottom: 35px solid transparent;
    @include transform(rotate(5deg));

  }

  .octagonWrap {
    width: 200px;
    height: 200px;
    float: left;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    bottom: 0px;
    right: -10px;
  }

  .octagon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background: transparent;
    border: 2px solid $color-violet;

    &::before {
      position: absolute;
      /* There needs to be a negative value here to cancel
       * out the width of the border. It's currently -3px,
       * but if the border were 5px, then it'd be -5px.
       */
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      transform: rotate(45deg);
      content: '';
      border: inherit;
    }
  }

  .octagonWrap2 {
    width: 120px;
    height: 120px;
    float: left;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    bottom: 100px;
    right: -50px;
  }

  .octagon2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: rotate(45deg);
    background: transparent;
    border: 2px solid #00b6ec;

    &::before {
      position: absolute;
      /* There needs to be a negative value here to cancel
       * out the width of the border. It's currently -3px,
       * but if the border were 5px, then it'd be -5px.
       */
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      @include transform(rotate(45deg));
      content: '';
      border: inherit;
    }
  }
}
