.navigation{
  width: 100%;
  position: relative;
  background-color: rgba(40,46,100,1);
  @include transition(all .3s);
  @include flex(row, nowrap, center, center);
  @include media-max($L){
    @include flex(row, nowrap, center, flex-start);
  }
.navbar{
  @include flex(row, nowrap, center, center);
  padding: 0;
  @include media-max($L){
    @include flex(column, nowrap, center, flex-start);
  }
  .navbar-nav{
    .nav-item{
      padding: 0;
      margin: 10px 0;
      .nav-link{
        @include font-source-sans(1rem, #fff, 500, 1.7rem);
        padding: 10px 15px;
        margin: 0;
      }
    }
  }
}
  .change-language{
    position: absolute;
    right: 0;
    top:0;
    padding: 0;
    margin: 20px 50px 20px 0;
    @include media-max($L){
      left: 0;
    }
    .btn-change-language{
      @include font-source-sans(1rem, #000, 800, 1.1rem);
      padding: 0px 15px;
      margin: 0;
      background-color: #fff;
      @include radius(100px);
    }
  }
}
body.fp-viewing-firstSection{

}
body.fp-viewing-firstSection{
  .navigation{
    background-color: transparent;
  }

}





