.box-systems {
  padding-top: 67px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;

  .wrap-systems {
    width: 100%;
    height: 100%;
    position: relative;

    .system {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 11;
      @include flex(row, nowrap, center, center);

      .system-carousel {
        width: 100%;
        height: 100%;

        .carousel {
          width: 100%;
          height: 100%;

          .carousel-inner {
            width: 100%;
            height: 100%;

            .carousel-item {
              width: 100%;
              height: 100%;
              @include transition(transform .0s ease, opacity .0s ease-out);

              .row {
                width: 100%;
                height: 100%;
              }

              .system-box-text {
                @include animation (.5s,2s);
                .system-title {
                  font-family: IRANSans_bold;
                  @include font-source-sans(2rem, $color-pink, 900, 2.5rem);
                  margin-bottom: 40px;
                  @include media-max($L) {
                    @include font-source-sans(1.4rem, $color-pink, 800, 2.2rem);
                  }
                }

                .system-explain {
                  @include font-source-sans(1rem, #000, 500, 1.7rem);
                  margin: 0 0 10px;
                }
              }

              .system-box-image {
                img {
                  max-width: 300px;
                }
              }

              .box-circle {
                position: relative;

                .circle-image {
                  display: inline-block;
                  border-radius: 50%;
                  min-width: 20px;
                  min-height: 20px;
                  padding: 30px;
                  background-color: #fff;
                  color: white;
                  text-align: center;
                  box-sizing: content-box;
                  white-space: nowrap;
                  border: 4px dashed $color-blue;
                  @include transition(all .1s);
                  img {
                    display: inline-block;
                    width: 100%;
                    height: auto;
                    max-width: 450px;
                    padding: 15%;
                    @include animation (.1s,1s);

                  }
                }

                .circle-image.system_1 {
                  border-top: 4px dashed #a003f1;
                }

                .circle-image.system_2 {
                  border-right: 4px dashed #a003f1;
                }

                .circle-image.system_3 {
                  border-bottom: 4px dashed #a003f1;
                }

                .circle-image.system_4 {
                  border-left: 4px dashed #a003f1;
                }

                .system-btn {
                  background-color: #fff;
                  border: 2px solid $color-gray;
                  padding: 22px;
                  @include radius(50%);
                  @include transition(transform 0s ease, opacity 0s ease-out);
                  @include transition(all .5s);
                  margin: 20px;
                  @include media-min($M) {
                    margin: 13px;
                  }
                  @include media-min($L) {
                    margin: 33px;
                  }
                  @include media-min($X) {
                    margin: 45px;
                  }

                  img {
                    max-width: 30px;
                    width: 100%;
                    height: auto;

                  }
                }

                .system-btn.active {
                  border: 4px solid #a003f1;
                  padding: 20px;
                }

                .system-btn.system_1 {
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  z-index: 12;
                }

                .system-btn.system_2 {
                  position: absolute;
                  bottom: 0px;
                  right: 0px;
                  z-index: 12;
                }

                .system-btn.system_3 {
                  position: absolute;
                  bottom: 0px;
                  left: 0px;
                  z-index: 12;
                }

                .system-btn.system_4 {

                  position: absolute;
                  top: 0px;
                  left: 0px;
                  z-index: 12;
                }
              }


            }
          }
        }
      }


    }


    .system-shape-right {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      z-index: 9;

      img {
        height: 100%;
      }
    }

    .system-shape-left {
      position: absolute;
      height: 100%;
      top: 0px;
      left: 0;
      z-index: 9;

      img {
        height: 120%;
      }
    }

    .system-Square {
      position: absolute;
      bottom: 50px;
      right: 300px;
      width: 0;
      height: 0;
      z-index: 9;
      border-left: 50px solid rgba(241, 198, 261, .5);
      border-bottom: 50px solid transparent;
      @include transform(rotate(9deg));
    }

    .system-Square2 {
      position: absolute;
      bottom: 100px;
      right: 355px;
      width: 0;
      height: 0;
      z-index: 9;
      border-left: 25px solid rgba(199, 213, 241, 0.5);
      border-bottom: 25px solid transparent;
      @include transform(rotate(182deg));
    }

    .system-octagonal {
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index: 9;

      img {
        width: 100%;
        height: auto;
        min-width: 150px;
      }
    }
  }
}
