html{
  body{
    background-color: #fff;
margin: 0;
    font-family: IRANSans_light;
position: relative;
direction: rtl;
    text-align: left;
    header{
      position: fixed;
      top:0;
      right:0;
      z-index: 1090;
      width: 100%;
    }
    a{
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      &:focus{
        border: 0;
        outline: 0;
        box-shadow: 0 0 0;
      }
    }
    button{
      cursor: pointer;
      border: 0;
      background-color: transparent;
      &:focus{
        border: 0;
        outline: 0;
        box-shadow: 0 0 0;
      }
    }
    .vertical-scrolling{
      @include media-max(1099px){
        height: auto;
      }
    }
  }
}
#fp-nav{
  display: none;
}
.right{
  display: none;
}
/*z-index
Octagonal:10
home:11;
system-shape-right:9
system-shape-left:9



*/
