$S : 576px;
$M : 767px;
$L : 992px;
$X : 1200px;
$small-font :1rem;
$big-font :2rem;
$color-violet :#f500a5;
$color-gray :#76767b;
$color-dark:#000;
$color-green:#00A67E;
$color-loading:#ffe22a;

/*=============key============*/
$color-blue :#2d346d;
$color-dark-blue :#191d48;
$color-green-key :#50D6B6;
$color-pink :#d800e3;
/*=============bootstrap============*/
$modal-fade-transform: translate(0, 400px);



